/* Card */
.card {
  box-sizing: border-box;
  padding: 6px 16px;
  margin: 12px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: -1px 4px 20px -6px rgb(0 0 0 / 20%);
  -moz-box-shadow: -1px 4px 20px -6px rgb(0 0 0 / 20%);
  box-shadow: -1px 4px 20px -6px rgb(0 0 0 / 20%);
  border: 1px solid rgb(53 53 53 / 23%);
}
