.container {
  /* height: 80vh; */
  margin: 10px;
}

.wrapper {
  width: 500px;
  margin: auto;
  background-color: #eaeef2;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: -1px 4px 20px -6px rgb(0 0 0 / 20%);
  -webkit-box-shadow: -1px 4px 20px -6px rgb(0 0 0 / 20%);
  -moz-box-shadow: -1px 4px 20px -6px rgb(0 0 0 / 20%);
  border: 1px solid rgb(53 53 53 / 23%);
}

/* Header */
header {
  height: 64px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #4a4a4a;
  background-color: white;
  border-bottom: 2px solid rgb(53 53 53 / 23%);
}

header img {
  filter: invert(42%) sepia(68%) saturate(541%) hue-rotate(161deg)
    brightness(93%) contrast(101%);
  padding: 0 10px;
}
